# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# not used icons
public/assets/app-icons/bomb*
public/assets/app-icons/calculator*
public/assets/app-icons/countries*
public/assets/app-icons/dice*
public/assets/app-icons/eshop*
public/assets/app-icons/food*
public/assets/app-icons/hangman*
public/assets/app-icons/info*
public/assets/app-icons/left*
public/assets/app-icons/login*
public/assets/app-icons/magnifing*
public/assets/app-icons/quit*
public/assets/app-icons/right*
public/assets/app-icons/survey*
public/assets/app-icons/switch*
public/assets/app-icons/tetris*
public/assets/app-icons/tictactoe*
public/assets/app-icons/wordle*

#not used loaders
public/assets/loaders/*

# used icons exceptions
!public/assets/app-icons/calculator1_*
!public/assets/app-icons/countries2_*
!public/assets/app-icons/foodMenu1_*
!public/assets/app-icons/info1_*
!public/assets/app-icons/info23_*
public/assets/app-icons/leftArrow*
!public/assets/app-icons/login2_*
!public/assets/app-icons/quit_*
!public/assets/app-icons/rightArrow*
!public/assets/app-icons/survey2_*
!public/assets/app-icons/switch1_*
!public/assets/app-icons/tictactoe2_*
!public/assets/app-icons/wordle1_*
!public/assets/loaders/growingDots*
!public/assets/loaders/spinningCircularFragment*

# outdated files
src/resources/translations/*old*
public/assets/apps-thumbnails/APP*