.tree {
  position: relative;
  margin-top: 50px;
  height: fit-content;
  width: fit-content;
  min-height: 100vh;
  margin-left: 2rem;
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.tree>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tree>div>* {
  height: 100%;
}

.tree .tree-vertical-text {
  transform: rotate(-90deg);
  padding: 0.5rem;
  display: block;
  min-height: fit-content;
  height: 100%;
  width: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-vertical-text-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1rem;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.left-border {
  border-left: 2px solid;
  /*padding-left: 0.5rem;*/
  position: relative;
  width: 100%;
}

.left-border::before,
.left-border::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
}

.left-border::before {
  top: 0;
  left: 0;
}

.left-border::after {
  bottom: 0;
  left: 0;
}

.left-border.dark::before,
.left-border.dark::after {
  background-color: #0b0b0b;
}

.left-border.light::before,
.left-border.light::after {
  background-color: #f4f4f4;
}

@media (orientation:portrait) {

  .tree {
    width: 100%;
    max-width: 500px;
    padding: 0 0.5rem;
    margin-top: 0;
    margin-left: 0;
  }

  .left-border {
    padding-left: 0;
  }

  .tree-vertical-text-div {
    padding: 2rem 0;
  }
}