.surveyQuestions-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
}

.surveyQuestions-div>h2 {
  margin-bottom: 2rem;
}

.surveyQuestions-message-div {
  position: absolute;
  z-index: 100;
  top: 8.5rem;
  padding: 1rem;
  text-wrap: balance;
  border: 1px solid black;
  background-color: #F9F6EE;
  color: black;
  width: 30vw;
  border-radius: 20px;
}

.imageToGuess-clues-div {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.imageToGuess-clues-div>img {
  height: 320px;
  width: auto;
  border-radius: 10px;
  margin: 0 2rem;
}

.clues-div {
  display: flex;
  flex-direction: column;
  /*width: calc(100vw - 4rem - 320px);*/
  width: 40vw;
  padding-right: 2rem;
}

.clues-div-dark {
  color: white;
}

.clues-div-light {
  color: black;
}

.clues-div>h2 {
  width: fit-content;
  height: fit-content;
  padding-bottom: 1rem;
  align-self: flex-start;
  padding-left: 1rem;
}

.clues-div p {
  text-wrap: balance;
  width: fit-content;
  padding: 1rem 1rem;
  text-align: left;
}

.optionsDiv-container {
  margin: 2rem 0;
  display: grid;
  /* Activa el sistema de cuadrícula */
  grid-template-columns: repeat(2, 1fr);
  /* Define 2 columnas de igual tamaño */
  grid-template-rows: repeat(2, 1fr);
  /* Define 2 filas de igual tamaño */
  gap: 1rem;
  width: 50vw;
  align-items: center;
}

.optionsDiv-container>:nth-child(1) {
  border-radius: 20px 0 0 0;
}

.optionsDiv-container>:nth-child(2) {
  border-radius: 0 20px 0 0;
}

.optionsDiv-container>:nth-child(3) {
  border-radius: 0 0 0 20px;
}

.optionsDiv-container>:nth-child(4) {
  border-radius: 0 0 20px 0;
}

.opacityZero {
  opacity: 0;
}

.opacityOne {
  opacity: 1;
}

.surveyQuestionsButtons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
  width: 100%;
}

.surveyQuestionsButtons-div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 25% !important;*/
  height: 3rem;
  border-radius: 10px;
  user-select: none;
  width: 300px;
  transition: transform 0.7s ease, font-size 0.15s;
}

.hoverLeft:hover {
  transform: translateX(-30px);
}

.hoverRight:hover {
  transform: translateX(+30px);
}

.surveyQuestionsButtons-light {
  background-color: #785c24;
  color: black;
}


.surveyQuestionsButtons-light:hover {
  background-color: #785c24;
}


.surveyQuestionsButtons-light:not(:hover) {
  background-color: #785c24;
}

.surveyQuestionsButtons-div>div>img {
  width: auto;
}

.surveyQuestionsButtons-div>div>img:nth-child(1) {
  height: 2rem;
  margin-right: 0.5rem;
}

.surveyQuestionsButtons-div>div>img:nth-child(2) {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.button:disabled,
div.disabled {
  background-color: #d6d6d6;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bolder;
  border: 1px solid #a1a1a1;
  cursor: not-allowed;
  /*pointer-events: none;*/
  opacity: 0.6;
  user-select: none;
}

.questionButtons-disabled {
  pointer-events: none;
}

.disabled:hover {
  transform: translateX(0);
  font-size: 1rem;
  background-color: #d6d6d6;
}


.disabled.tremble {
  animation: tremble 0.2s ease-in-out;
}

@keyframes tremble {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}



@media (orientation: portrait) {
  .surveyQuestions-div {
    margin-top: 0.5rem;
  }

  .surveyQuestions-message-div {
    width: 80vw;
    top: 8rem;
  }

  .imageToGuess-clues-div {
    flex-direction: column;
    align-items: center;
  }

  .imageToGuess-clues-div>img {
    width: 90vw;
    height: auto;
    padding: 0;
  }

  .clues-div h2 {
    padding: 0
  }

  .clues-div p {
    padding: 1rem 0 0 0
  }

  .optionsDiv-container {
    width: 90vw;
  }

  .clues-div {
    margin-top: 2rem;
    width: 90vw;
    padding-right: 0;
  }

  .surveyQuestionsButtons-div {
    gap: 1rem
  }

  .surveyQuestionsButtons-div>.survey-button {
    width: 42.5vw;
  }

  .optionsDiv-container>div:hover {
    font-size: 1rem;
  }

  .hoverLeft:hover {
    transform: translateX(0px);
  }

  .hoverRight:hover {
    transform: translateX(0px);
  }

  .survey-button:hover {
    font-size: 1rem;
  }
}