.optionDiv.darkmode-ignore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 3rem;
  user-select: none;
  cursor: pointer;
  transition: font-size 0.3s, background-color 0.7s;
}

.optionDiv-dark {
  background-color: #2b4e95;
  box-shadow: black 3px 3px 10px 0;
}

.optionDiv-light {
  background-color: #d0b46c;
  box-shadow: #5c6475 3px 3px 10px 0;
  color: black;
}

.optionsDiv-container>div:hover {
  font-size: 1.3rem;
}

.optionDiv.button-incorrect {
  background-color: #A72845;
  pointer-events: none;
}

.optionDiv.button-correct {
  background-color: #28A745;
  pointer-events: none;
}

@media (orientation: portrait) {
  .optionDiv.darkmode-ignore {
    font-size: 0.9rem;
  }
}