.surveyMainDiv {
  height: calc(100vh - 14rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem
}

.surveyMainButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.surveyMainButtonDiv>button {
  width: 300px;
  height: 4rem;
  transition: font-size 0.3s;
  background-color: #82a2e2;
}

.surveyMainButtonDiv>button:hover {
  background-color: #82a2e2;
  font-size: 1.2rem;
}


@media (orientation: portrait) {
  /*.surveyMainDiv {
    margin-top: 3rem;
  }*/
}