body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

.surveyLearn-div {
  display: flex;
}

.surveyLearn-button {
  width: 250px;
  height: 3rem;
}

/*
.surveLearn-button:hover {
  width: 250px;
  height: 3rem;
}*/

.species-spot-pattern {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 0.5rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content img {
  height: 90vh;
  width: auto;
  cursor: pointer;
}

@media (orientation:portrait) {
  .surveyLearn-div {
    flex-direction: column;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
  }

  .popup-content img {
    width: 90%;
    height: auto;
  }
}