* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/*
body {
  background-image: url('../../public/hexagonal-background.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
*/

.App {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subApp-div {
  min-height: calc(100vh - 8.5rem);
  /*4.5rem from header + 4rem from footer*/
  width: 100vw;
  height: fit-content;
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #555;
  color: white;
  height: 4rem;
  background-color: #1E1E1E;
}

/*
#root {
  height: 100vh;
  width: 100vw;
}*/

/*
.App {
  height: 100vh;
  width: 100vw;
}*/

.geometrical-background {
  background-color: #1c1c1c;
  opacity: 1;
  background: linear-gradient(135deg, #2f2f2f55 25%, transparent 25%) -80px 0/ 160px 160px, linear-gradient(225deg, #2f2f2f 25%, transparent 25%) -80px 0/ 160px 160px, linear-gradient(315deg, #2f2f2f55 25%, transparent 25%) 0px 0/ 160px 160px, linear-gradient(45deg, #2f2f2f 25%, #1c1c1c 25%) 0px 0/ 160px 160px;

}

@media (orientation: portrait) {
  .darkmode-toggle {
    right: 20px !important;
    bottom: 20px !important;
  }
}