header {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 4.5rem;
  overflow-y: visible;
  z-index: 10;
  background-color: #555;
  box-shadow: 0 0 5px 0;
}

header>nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

.menu-item {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}


/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* Sliding menu */

.bm-burger-button {
  position: relative !important;
  width: 38px !important;
  height: 32px !important;
  right: auto !important;
  top: auto !important;
}

.bm-menu {
  background: #1E1E1E;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  display: flex;
  flex-direction: column;
}

.bm-item-list {
  background-color: #1E1E1E !important;
}

.bm-item {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.bm-menu-wrap {
  top: 0;
  right: 0;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #fff;
}

#react-burger-cross-btn {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 20px;
  top: 20px;
}

#react-burger-cross-btn:before,
#react-burger-cross-btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 20px;
  background: #fff;
}

#react-burger-cross-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#react-burger-cross-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bm-item-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}


/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */