.sliderMobileViewToggle {
  position: absolute;
  top: 8.5rem;
  right: 1rem;
  margin: 1.5rem;
}

.sliderDisabledButton{
  visibility:hidden;
}

.sliderContainer{
  margin-top: 5rem;
  width: 100vw;
  overflow: hidden;
}

.sliderContainer.pc{
  height: 60vh;
}

.sliderContainer.mobile{
  height: 60vh;
}

.slider{
  display: flex;
  justify-content: flex-start;
  transition: transform 0.8s ease-out;
  height: 100%;
  width: fit-content;
}

.slideContainerDiv {
  height: 100%;
  max-width: 100vw;
}

.slideContainerDiv > img {
  height: 80%;
  width: auto;
  border-radius: 10px;
}

.slideContainerDiv > p {
  width: 60%;
  margin: auto;
}

@media (orientation: portrait) {

  .sliderMobileViewToggle {
    margin: 0;
  }


  .slideContainerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slideContainerDiv > img {
    height: auto;
    max-height: 80%;
    width: 95%;
    border-radius: 10px;
  }

  .slideContainerDiv.vertical > img {
    height: 80%;
    width: auto;
  }

  .slideContainerDiv > p {
    margin: 0;
    width: 95%;
    max-height: 20%;
    overflow-y: scroll;
  }

  .sliderNavButtons-div{
    margin-top: 1rem;
  }
}