.subAppTitle-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  position: relative;
  /*background-color: #1E1E1E;*/
}

.subAppTitle-div>h1 {
  transition: 0.3s color;
}

.subAppTitle-div img {
  width: 3rem;
}

.subAppTitle-toolTip-div:hover p {
  display: block;
}

.subAppTitle-toolTip-div {
  position: relative;
  /* Para que el tooltip se posicione respecto a este contenedor */
  /*display: inline-block;*/
  /* Permite que el tooltip se posicione adecuadamente */
  height: fit-content;
}

.subAppTitle-div p {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1rem;
  z-index: 1;
  color: black;
  margin-top: 0.5rem;
  border-radius: 20px;
  transform: translateX(-45%);
  left: -120px;
  width: 300px;
  max-width: 500px;
}

.subAppTitle-hr {
  width: 90%;
}

@media (orientation: portrait) {
  .subAppTitle-div {
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  .subAppTitle-div h1 {
    font-size: 1rem;
  }

  .subAppTitle-toolTip-div {
    height: 32px;
  }

  .subAppTitle-div img {
    width: 2rem;
  }

  .subAppTitle-toolTip-div>p {
    transform: 0;
    left: -100px;
  }
}