.flagDiv {
  flex: 0 0 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flagDiv>img {
  width: 100%;
  border-radius: 20px;
}

.flagDiv>p {
  width: fit-content;
  font-weight: bold;
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 40vh;*/
  font-weight: bold;
}