.backgroundImage-countryInfo {
  background-image: url('/background-images/backgroundImage-countryInfo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.countryNameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: calc(2 * 1.5em);
  width: fit-content;
  text-align: center;
  background-color: rgba(7, 35, 67, 0.8);
  border-radius: 20px;
  margin-top: 1rem;
}

.flagAndInfo-div {
  min-height: 49vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.flagAndInfo-div>div {
  /*background-color: rgba(248, 220, 188, 0.6);*/
  background-color: rgba(7, 35, 67, 0.6);
  border-radius: 20px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  margin: 1rem;
}

#newCountry-button {
  margin-top: 1rem;
  transition: 0.2s;
  font-weight: bold;
}

#newCountry-button:hover {
  background-color: black;
  color: white;
}

@media (orientation: portrait) {
  .countryNameDiv {
    font-size: xx-large;
  }

  .flagAndInfo-div {
    width: 90vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flagAndInfo-div>* {
    width: 90vw;
  }

  .flagDiv {
    width: 95%;
  }

  .flagDiv>img {
    width: 100%;
  }

  .wikiInfo-div {
    width: 100%;
  }
}