.homeApp h1 {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.homeApp hr {
  color: white;
  width: 90%;
  margin: 1rem auto;
}

.personalInfo-card {
  background-color: rgba(80, 80, 80, 0.4);
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.personalInfo-card>* {
  font-family: 'Verdana', sans-serif;
}

.homeApp section h2 {
  margin: auto;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.homeApp>section h3 {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.homeApp>section>p {
  width: 80%;
  padding: 1rem;
  margin: auto;
  text-align: center;
  text-wrap: balance;
}

.subAppCards-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.subAppCards-section>h2 {
  width: 100%;
  text-align: center
}