.subAppCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  min-height: 320px;
  padding: 0.5rem;
  border-radius: 20px;
  /*box-shadow: 0 0 2px 0;*/
  margin: 1rem;
  transition: transform 0.15s ease;
  /*background: radial-gradient(circle, #111 0%, #444 75%);*/
  background-color: rgba(68, 68, 68, 0.6);
}

.subAppCard>div {
  align-self: flex-start;
}

.subAppCard:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  transform: scale(1.05)
}

.subAppCard>img {
  width: 65%;
  height: auto;
  border-radius: 20px;
}

.subAppCard>div {
  width: 35%;
  margin-top: 1rem;
}

.subAppCard h4 {
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subAppCard p {
  width: 100%;
  padding: 0 0 0 1.5rem;
  margin: auto;
}

@media (orientation: portrait) {
  .subAppCard {
    width: 100%;
    flex-direction: column-reverse;
    font-size: small;
    gap: 1rem
  }

  .subAppCard h4 {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 0.5rem;
  }

  .subAppCard>div {
    width: 100%;
  }

  .subAppCard>img {
    width: 100%;
  }
}