.background-calculator {
  background: linear-gradient(to right, #8e8e8e, #2f2f2f)
}

.calculator-grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: minmax(5.5rem, auto) repeat(5, 4rem);
  border-radius: 20px 20px 5px 5px;
  overflow: hidden;
}

/*0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.button-row {
  height: 100%;
  width: 100%;
}

.calculator-button {
  border-radius: 0;
  border: 1px solid black;
  height: 100%;
  font-size: 2rem;
  outline: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.75);
}