.gridCell-div {
  max-height: 60px;
  min-height: 45px;
  height: calc(50vh/8);
  aspect-ratio: 1;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 5px;
  transition: border-color 1s;
  transition: background-color 0.3s;
}

.notPresent-dark {
  background-color: #333;
  color: #ccc;
}

.notPresent-light {
  background-color: #ccc;
  color: #333;
}

.wrongPosition {
  background-color: #b89c3c
}

.rightPosition {
  background-color: #588c4c;
}

@media (orientation: portrait) {

  .gridCell-div {
    min-height: unset;
    height: 100%;
    aspect-ratio: 1/1;
  }

  /*
  .gridCell-div {
    min-width: auto;
    min-height: auto;
    width: 45px;
    height: 45px;
  }
  */
}