.virtualKeyboardContainer-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.openCloseKeyboard {
  width: 550px;
  background-color: #e5e5e5;
  border-radius: 5px;
  margin: 1rem;
  font-size: 0.7rem;
  font-weight: 1000;
  text-align: center;
  color: #111;
  padding: 0.2rem 0;
  /*box-shadow: 2px 2px 5px #fff;*/
  transition: 0.2s;
}

.openCloseKeyboard:hover {
  background-color: #1a1a1a;
  color: #e5e5e5;
}

.virtual-keyboard-container {
  position: relative;
  max-width: 550px;
  max-height: 160px;
  height: 160px;
  min-height: 140px;
  min-width: 520px;
  height: calc(18vh);
  width: calc(70vh);
  overflow: hidden;
}

.virtual-keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  padding: 0.5rem;
  border-radius: 20px;
  position: absolute;
  bottom: 190px;
}

.keyboard-line {
  display: flex;
  gap: min(10px, calc(2px + 0.75vh));
  justify-content: space-between;
  align-items: center;
}

@media (orientation: portrait) {

  .openCloseKeyboard {
    width: 95%;
    max-width: 500px;
    margin: 0.5rem;
  }

  .virtual-keyboard-container {
    width: 98%;
    max-width: 500px;
    min-width: unset;
  }

  .virtual-keyboard {
    width: 100%;
  }

  .keyboard-line {
    gap: 1px;
  }

  .keyboard-line {
    width: 100%;
  }
}