.gridRow-container-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  margin: 1.5rem;
  position: relative;
}

.newGame-button {
  background-color: #e5e5e5;
  color: #1a1a1a;
  font-weight: bold;
  transition: 0.2s;
  /*box-shadow: 2px 2px 5px #fff;*/
}

.newGame-button:hover {
  background-color: #1a1a1a;
  color: #e5e5e5;
}

#messagePanel {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 7rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 5px;
  font-weight: bold;
}

.messagePanel-dark {
  background-color: #ccc;
  color: black;
}

.messagePanel-light {
  background-color: #333;
  color: white;
}

/* ---------------------------------------------------
trembling animation
*/
@keyframes tremble {
  0% {
    transform: translate(4px, 0);
  }

  25% {
    transform: translate(-4px, 0);
  }

  50% {
    transform: translate(4px, 0);
  }

  75% {
    transform: translate(-4px, 0);
  }

  100% {
    transform: translate(0);
  }
}

.trembling {
  animation: tremble 0.2s linear infinite;
}

/* ---------------------------------------------------
grow animation
*/
@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  /* Crece 10% (2px en cada dimensión) */
  100% {
    transform: scale(1);
  }
}

.grow-animation {
  animation: grow 0.2s ease forwards;
  /* Duración de 0.2s */
}

/* ---------------------------------------------------
flicker animation
*/
@keyframes flicker {
  0% {
    background-color: #e5e5e5;
    color: #1a1a1a;
  }

  16.66% {
    background-color: #1a1a1a;
    color: #e5e5e5;
  }

  32.32% {
    background-color: #e5e5e5;
    color: #1a1a1a;
  }

  48.98% {
    background-color: #1a1a1a;
    color: #e5e5e5;
  }

  65.64% {
    background-color: #e5e5e5;
    color: #1a1a1a;
  }

  82.3% {
    background-color: #1a1a1a;
    color: #e5e5e5;
  }

  100% {
    background-color: #e5e5e5;
    color: #1a1a1a;
  }
}

.flickering {
  animation: flicker 1s ease forwards;
}

@media (orientation: portrait) {

  .gridRow-container-div {
    height: 40vh;
    width: 95vw;
    margin: 0.5rem;
  }
}